.index-page__site-header {
  margin: 0 0 54px;

  @media (min-width: $tablet-width) {
    margin: 0 0 102px;
  }

  @media (min-width: $laptop-width) {
    margin: 0 0 224px;
  }
}

.index-page__show {
  margin: 0 0 54px;

  @media (min-width: $tablet-width) {
    margin: 0 0 93px;
  }

  @media (min-width: $laptop-width) {
    margin: 0 0 84px;
  }
}

.index-page__about {
  margin: 0 0 56px;

  @media (min-width: $tablet-width) {
    margin: 0 0 95px;
  }

  @media (min-width: $laptop-width) {
    margin: 0 0 108px;
  }
}

.index-page__members {
  margin: 0 0 54px;

  @media (min-width: $tablet-width) {
    margin: 0 0 138px;
  }

  @media (min-width: $laptop-width) {
    margin: 0 0 74px;
  }
}

.index-page__faq {
  margin: 0 0 55px;

  @media (min-width: $tablet-width) {
    margin: 0 0 84px;
  }

  @media (min-width: $laptop-width) {
    margin: 0 0 92px;
  }
}


.index-page__reviews {
  margin: 0 0 60px;

  @media (min-width: $tablet-width) {
    margin: 0 0 87px;
  }

  @media (min-width: $laptop-width) {
    margin: 0 0 112px;
  }
}
