mixin features
  section.features&attributes(attributes)
    .features__inner
      h2.features__heading.heading Почему именно&nbsp;мы?
      p.features__lead Приобретая  животное в нашем питомнике, вы получите
      ul.features__list
        li.features__item
          a.features__link(href='#!') Бесплатное ветеринарное обслуживание 5 лет
            svg.features__icon(width='80' height='88' aria-hidden='true')
              use(href='img/icons.svg#stethoscope')
        li.features__item
          a.features__link(href='#!') Консультирование по любому вопросу 24 часа в сутки
            svg.features__icon(width='80' height='71' aria-hidden='true')
              use(href='img/icons.svg#24-hours')
        li.features__item
          a.features__link(href='#!') Индивидуальный подбор питания для вашего кота
            svg.features__icon(width='57' height='88' aria-hidden='true')
              use(href='img/icons.svg#food')
