mixin logo
  a.logo(href= pageClass === 'index-page' ? false : 'index.html')&attributes(attributes)
    img.logo__image(src='img/logo.svg' width='52' height='24' alt='Логотип в виде золотой короны.')
