mixin slider-navigation
  p.slider-navigation&attributes(attributes)
    button.slider-navigation__button.slider-navigation__button--prev(type='button')
      span.visually-hidden Предыдущий
    button.slider-navigation__button.slider-navigation__button--next(type='button')
      span.visually-hidden Следующий
