extends layout/layout

block variables
  - var title = 'Питомник Мейн-Кунов'
  - var pageClass = 'index-page'

block data
  include data/articles
  include data/team

block content
  +about(class='index-page__about')
  +features
  +articles(articles)
  +members(team)(class='index-page__members')
  +faq(class='index-page__faq')
  +reviews(class='index-page__reviews')
