.page__body {
  min-width: 320px;
  margin: 0;
  font-family: "Roboto Flex", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: $text-color;
  background-color: $background-color-1;
}

.page__site-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
