.page__body {
  min-width: 320px;
  margin: 0;
  font-family: $main-font-family;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 300;
  color: $text-color;
  background-color: $background-color-1;
}

.page__inner {
  display: grid;
  box-sizing: border-box;
  height: 100vh;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%;
  overflow-y: auto;
}

.page__site-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
