.page__body {
  min-width: 320px;
  margin: 0;
  font-family: $main-font-family;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 300;
  color: $text-color;
  background-color: $background-color-1;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.64;
  }
}

.page__inner {
  position: relative;
  display: grid;
  box-sizing: border-box;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  overflow-y: auto;
}
