.show {
  text-align: center;
}

.show__inner {
  max-width: 1024px;
  padding: 0 15px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 0 28px;
  }
}

.show__heading {
  margin: 0 0 23px;

  @media (min-width: $tablet-width) {
    margin: 0 0 21px;
  }

  @media (min-width: $laptop-width) {
    margin: 0 0 20px;
  }
}

.show__lead {
  max-width: 540px;
  margin: 0 auto 20px;
  color: $accent-color;

  @media (min-width: $tablet-width) {
    max-width: 580px;
  }
}

.show__taber {
  margin: 30px 0 45px;

  @media (min-width: $tablet-width) {
    margin: 43px 0 55px;
  }

  @media (min-width: $laptop-width) {
    margin: 40px 0 55px;
  }
}

.show__button {
  min-width: 142px;

  @media (min-width: $tablet-width) {
    min-width: 200px;
  }
}
