-
  var articles = {
    heading: 'Об уходе за&nbsp;<span class="nobr">Мейн-Куном</span>',
    previews: [
      {
        heading: 'Шерсть',
        text: 'Мы разработали 8&nbsp;правил, следуя которым, шерсть вашего кота всегда будет блестящей, мягкой и&nbsp;послушной',
        href: '#!',
      },
      {
        heading: 'Уши и&nbsp;глаза',
        text: 'Владельцам котов необходимо регулярно осматривать ушки и&nbsp;глаза своих питомцев, ведь это может быть признаками заболевания',
        href: '#!',
      },
      {
        heading: 'Когти',
        text: 'Нужно&nbsp;ли стричь когти? Это мы и&nbsp;выясним, плюс ко&nbsp;всему расскажем как подобрать идеальную когтеточку',
        href: '#!',
      },
      {
        heading: 'Питание',
        text: 'В нашем питомнике существует два&nbsp;подхода: натуральное питание и&nbsp;питание промышленными кормами, но&nbsp;выбирать только вам',
        href: '#!',
      },
    ],
  };
