-
  var maleCats = [
    {
      alt: 'Белый кот, вид сбооку.',
      mobile: 'img/show/male-cats/1.webp',
      mobile2x: 'img/show/male-cats/1@2x.webp',
      tablet: 'img/show/male-cats/1-tablet.webp',
      tablet2x: 'img/show/male-cats/1-tablet@2x.webp',
      laptop: 'img/show/male-cats/1-laptop.webp',
      laptop2x: 'img/show/male-cats/1-laptop@2x.webp',
    },
    {
      alt: 'Большой коричневый кот лежит.',
      mobile: 'img/show/male-cats/2.webp',
      mobile2x: 'img/show/male-cats/2@2x.webp',
      tablet: 'img/show/male-cats/2-tablet.webp',
      tablet2x: 'img/show/male-cats/2-tablet@2x.webp',
      laptop: 'img/show/male-cats/2-laptop.webp',
      laptop2x: 'img/show/male-cats/2-laptop@2x.webp',
    },
    {
      alt: 'Серый котик сидит.',
      mobile: 'img/show/male-cats/3.webp',
      mobile2x: 'img/show/male-cats/3@2x.webp',
      tablet: 'img/show/male-cats/3-tablet.webp',
      tablet2x: 'img/show/male-cats/3-tablet@2x.webp',
      laptop: 'img/show/male-cats/3-laptop.webp',
      laptop2x: 'img/show/male-cats/3-laptop@2x.webp',
    },
  ];

  var femaleCats = [
    {
      alt: 'Белый кот, вид сбооку.',
      mobile: 'img/show/female-cats/1.webp',
      mobile2x: 'img/show/female-cats/1@2x.webp',
      tablet: 'img/show/female-cats/1-tablet.webp',
      tablet2x: 'img/show/female-cats/1-tablet@2x.webp',
      laptop: 'img/show/female-cats/1-laptop.webp',
      laptop2x: 'img/show/female-cats/1-laptop@2x.webp',
    },
    {
      alt: 'Большой коричневый кот лежит.',
      mobile: 'img/show/female-cats/2.webp',
      mobile2x: 'img/show/female-cats/2@2x.webp',
      tablet: 'img/show/female-cats/2-tablet.webp',
      tablet2x: 'img/show/female-cats/2-tablet@2x.webp',
      laptop: 'img/show/female-cats/2-laptop.webp',
      laptop2x: 'img/show/female-cats/2-laptop@2x.webp',
    },
    {
      alt: 'Серый котик сидит.',
      mobile: 'img/show/female-cats/3.webp',
      mobile2x: 'img/show/female-cats/3@2x.webp',
      tablet: 'img/show/female-cats/3-tablet.webp',
      tablet2x: 'img/show/female-cats/3-tablet@2x.webp',
      laptop: 'img/show/female-cats/3-laptop.webp',
      laptop2x: 'img/show/female-cats/3-laptop@2x.webp',
    },
  ];

  var kittens = [
    {
      alt: 'Белый кот, вид сбооку.',
      mobile: 'img/show/kittens/1.webp',
      mobile2x: 'img/show/kittens/1@2x.webp',
      tablet: 'img/show/kittens/1-tablet.webp',
      tablet2x: 'img/show/kittens/1-tablet@2x.webp',
      laptop: 'img/show/kittens/1-laptop.webp',
      laptop2x: 'img/show/kittens/1-laptop@2x.webp',
    },
    {
      alt: 'Большой коричневый кот лежит.',
      mobile: 'img/show/kittens/2.webp',
      mobile2x: 'img/show/kittens/2@2x.webp',
      tablet: 'img/show/kittens/2-tablet.webp',
      tablet2x: 'img/show/kittens/2-tablet@2x.webp',
      laptop: 'img/show/kittens/2-laptop.webp',
      laptop2x: 'img/show/kittens/2-laptop@2x.webp',
    },
    {
      alt: 'Серый котик сидит.',
      mobile: 'img/show/kittens/3.webp',
      mobile2x: 'img/show/kittens/3@2x.webp',
      tablet: 'img/show/kittens/3-tablet.webp',
      tablet2x: 'img/show/kittens/3-tablet@2x.webp',
      laptop: 'img/show/kittens/3-laptop.webp',
      laptop2x: 'img/show/kittens/3-laptop@2x.webp',
    },
  ];
