-
  var faq = [
    {
      heading: 'С&nbsp;какого возраста можно забирать котенка из&nbsp;питомника?',
      content: '<p>Есть важная причина, почему котенка стоит забирать домой только после трех месяцев,&nbsp;— это вакцинация. Первые прививки животному делают в&nbsp;возрасте 8&nbsp;недель. Ревакцинация проводится через 3–4 недели. То есть котенок, покидающий дом позднее 12&nbsp;недель, максимально защищен от&nbsp;различных вирусов и&nbsp;инфекций</p><p>Так что, чтобы в доме появился психически и&nbsp;физически здоровый котенок, игривый, жизнерадостный, самостоятельный и&nbsp;воспитанный, не&nbsp;спешите забирать его от&nbsp;кошки-мамы раньше трех месяцев.</p>',
    },
    {
      heading: 'Как зарезервировать котенка?',
      content: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non lectus sit amet nunc facilisis molestie. Praesent quis libero et mauris facilisis dignissim at sed nisi.</p><p>Nullam efficitur porttitor lectus, ac finibus nibh fermentum ac. Phasellus aliquam, nibh non efficitur pharetra, tellus diam posuere lectus, a consequat elit ex nec ligula.</p>',
    },
    {
      heading: 'Можно ли купить кота, если я живу в другом городе?',
      content: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non lectus sit amet nunc facilisis molestie. Praesent quis libero et mauris facilisis dignissim at sed nisi.</p>',
    },
    {
      heading: 'Как подготовить дом к приему нового питомца? ',
      content: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non lectus sit amet nunc facilisis molestie. Praesent quis libero et mauris facilisis dignissim at sed nisi.</p><p>Nullam efficitur porttitor lectus, ac finibus nibh fermentum ac. Phasellus aliquam, nibh non efficitur pharetra, tellus diam posuere lectus, a consequat elit ex nec ligula.</p>',
    },
  ];
