-
  var reviews = [
    {
      name: 'Серёжа Попов',
      text: 'Я выражаю огромную благодарность вашему питомнику. Мой Феликс невероятно умен и&nbsp;воспитан. Огромным плюсом питомника является возможность консультироваться в&nbsp;любое время',
      image: 'img/reviewers/reviewer-1.webp',
      image2x: 'img/reviewers/reviewer-1@2x.webp',
      tabletImage: 'img/reviewers/reviewer-1-tablet.webp',
      tabletImage2x: 'img/reviewers/reviewer-1-tablet@2x.webp',
      laptopImage: 'img/reviewers/reviewer-1-laptop.webp',
      laptopImage2x: 'img/reviewers/reviewer-1-laptop@2x.webp',
      socials: {
        twitter: '#!',
        vk: '#!',
      },
      date: '2018-05-24',
    },
    {
      name: 'Андрей Серёдкин',
      text: 'Я выражаю огромную благодарность вашему питомнику. Мой Васька невероятно умен и&nbsp;воспитан. Огромным плюсом питомника является возможность консультироваться в&nbsp;любое время',
      image: 'img/reviewers/reviewer-1.webp',
      image2x: 'img/reviewers/reviewer-1@2x.webp',
      tabletImage: 'img/reviewers/reviewer-1-tablet.webp',
      tabletImage2x: 'img/reviewers/reviewer-1-tablet@2x.webp',
      laptopImage: 'img/reviewers/reviewer-1-laptop.webp',
      laptopImage2x: 'img/reviewers/reviewer-1-laptop@2x.webp',
      socials: {
        twitter: '#!',
        vk: '#!',
      },
      date: '2021-12-01',
    },
    {
      name: 'Николай Шабалин',
      text: 'Я выражаю огромную благодарность вашему питомнику. Мой Пушок невероятно умен и&nbsp;воспитан. Огромным плюсом питомника является возможность консультироваться в&nbsp;любое время',
      image: 'img/reviewers/reviewer-1.webp',
      image2x: 'img/reviewers/reviewer-1@2x.webp',
      tabletImage: 'img/reviewers/reviewer-1-tablet.webp',
      tabletImage2x: 'img/reviewers/reviewer-1-tablet@2x.webp',
      laptopImage: 'img/reviewers/reviewer-1-laptop.webp',
      laptopImage2x: 'img/reviewers/reviewer-1-laptop@2x.webp',
      socials: {
        twitter: '#!',
        vk: '#!',
      },
      date: '2023-07-27',
    },
  ];
