-
  var team = {
    heading: 'Наша команда',
    description: 'Все сотрудники нашего питомника&nbsp;&mdash; дипломированые специалисты в&nbsp;области фелинологии и&nbsp;ветеринарии',
    list: [
      {
        name: 'Серёжа Попов',
        role: 'Основатель питомника',
        description: 'Наш питомник занимается разведением Мейн-Кунов на&nbsp;протяжении 15&nbsp;лет. Мы&nbsp;в&nbsp;ответе за&nbsp;каждого приобретенного вами питомца',
        image: 'img/team/team-member-1.webp',
        image2x: 'img/team/team-member-1@2x.webp',
        tabletImage: 'img/team/team-member-1-tablet.webp',
        tabletImage2x: 'img/team/team-member-1-tablet@2x.webp',
        laptopImage: 'img/team/team-member-1-laptop.webp',
        laptopImage2x: 'img/team/team-member-1-laptop@2x.webp',
        socials: {
          facebook: '#!',
          twitter: '#!',
          vk: '#!',
        },
      },
      {
        name: 'Андрей Серёдкин',
        role: 'Дипломированный фелинолог',
        description: 'Фанат кошек! Изучает природу мейн-кунов, их анатомию, физиологию, поведение и развитие. Разработчик научных и практических рекомендаций',
        image: 'img/team/team-member-1.webp',
        image2x: 'img/team/team-member-1@2x.webp',
        tabletImage: 'img/team/team-member-1-tablet.webp',
        tabletImage2x: 'img/team/team-member-1-tablet@2x.webp',
        laptopImage: 'img/team/team-member-1-laptop.webp',
        laptopImage2x: 'img/team/team-member-1-laptop@2x.webp',
        socials: {
          facebook: '#!',
          twitter: '#!',
          vk: '#!',
        },
      },
      {
        name: 'Николай Шабалин',
        role: 'Ветеринар',
        description: 'Занимается лечением и профилактикой заболеваний мейн-кунов',
        image: 'img/team/team-member-1.webp',
        image2x: 'img/team/team-member-1@2x.webp',
        tabletImage: 'img/team/team-member-1-tablet.webp',
        tabletImage2x: 'img/team/team-member-1-tablet@2x.webp',
        laptopImage: 'img/team/team-member-1-laptop.webp',
        laptopImage2x: 'img/team/team-member-1-laptop@2x.webp',
        socials: {
          facebook: '#!',
          twitter: '#!',
          vk: '#!',
        },
      },
    ],
  };
